<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USATU Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/BagStyle.css">
</head>



<body>

    <main class="page">

        <header class="header">
            <div class="header__first">
                <a href="MainPage.html" class="header__logo">
                </a>
            </div>
            <div class="header__second">
                <nav class="navbar navbar-expand-xl navbar-dark header__menu ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler menu__icon" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse menu__body" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto menu__list">
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="#">футболки
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu__link" aria-current="page" href="#"> кофты
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="#"> комплекты
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="#"> прочее
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="Bag.html"> корзина
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class=" menu__link " data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
                                        aria-current="page" href="#"> Личный кабинет
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="bag">
            <div class="row">
                <div class="bag__title title container">
                    <h1 class="col-12 text-center text-dark">Мои покупки</h1>
                </div>
            </div>
            <form class="bag__body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 bag__goods">
                            <div class="bag__FirstProduct product">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="product__image">
                                                <img src="img/Tshirt1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="product__title">Футболка "Староста"</div>
                                            <div class="product__size">
                                                <div class="product__sizeText">размер</div>
                                                <div class="product__sizeChoise">
                                                    <button type="button">S</button>
                                                    <button type="button">M</button>
                                                    <button type="button">L</button>
                                                </div>
                                            </div>
                                            <div class="product__quantity">
                                                <div class="product__quantity-text">количество</div>
                                                <div class="product__quantity-number">
                                                    <input value="1">
                                                </div>
                                            </div>
                                            <div class="product__cost">
                                                <span>1 000</span> рублей
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bag__SecondProduct product">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="product__image">
                                                <img src="img/Tshirt1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="product__title">Футболка "Староста"</div>
                                            <div class="product__size">
                                                <div class="product__sizeText">размер</div>
                                                <div class="product__sizeChoise">
                                                    <button type="button">S</button>
                                                    <button type="button">M</button>
                                                    <button type="button">L</button>
                                                </div>
                                            </div>
                                            <div class="product__quantity">
                                                <div class="product__quantity-text">количество</div>
                                                <div class="product__quantity-number">
                                                    <input value="1">
                                                </div>
                                            </div>
                                            <div class="product__cost">
                                                <span>1 000</span> рублей
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="bag__SecondProduct product">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="product__image">
                                                <img src="img/Tshirt1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="product__title">Футболка "Староста"</div>
                                            <div class="product__size">
                                                <div class="product__sizeText">размер</div>
                                                <div class="product__sizeChoise">
                                                    <button type="button">S</button>
                                                    <button type="button">M</button>
                                                    <button type="button">L</button>
                                                </div>
                                            </div>
                                            <div class="product__quantity">
                                                <div class="product__quantity-text">количество</div>
                                                <div class="product__quantity-number">
                                                    <input value="1">
                                                </div>
                                            </div>
                                            <div class="product__cost">
                                                <span>1 000</span> рублей
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="bag__SecondProduct product">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="product__image">
                                                <img src="img/Tshirt1.png" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="product__title">Футболка "Староста"</div>
                                            <div class="product__size">
                                                <div class="product__sizeText">размер</div>
                                                <div class="product__sizeChoise">
                                                    <button type="button">S</button>
                                                    <button type="button">M</button>
                                                    <button type="button">L</button>
                                                </div>
                                            </div>
                                            <div class="product__quantity">
                                                <div class="product__quantity-text">количество</div>
                                                <div class="product__quantity-number">
                                                    <input value="1">
                                                </div>
                                            </div>
                                            <div class="product__cost">
                                                <span>1 000</span> рублей
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-6 col-sm-12 bag__order details">
                            <div class="details__price d-flex justify-content-between">
                                <span class="details__priceTitle">Стоимость товаров</span> <span
                                    class="details__priceNumber">1 000 рублей</span>
                            </div>
                            <div class="details__price d-flex justify-content-between">
                                <span class="details__priceTitle">Стоимость доставки</span> <span
                                    class="details__priceNumber"> 500 рублей</span>
                            </div>
                            <div class="details__price-b d-flex justify-content-between">
                                <span class="details__priceTitle-b">Итого</span> <span
                                    class="details__priceNumber-b">1 500 рублей</span>
                            </div>
                            <div class="details__btn text-center">
                                <button>Оформить заказ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
            </script>
        <script src="js/script.js"></script>
</body>

</html>