{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USATU Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/ProductStyle.css' %}">
</head>



<body>

    <main class="page">

        <header class="header">
            <div class="header__first">
                <a href="{% url 'main' %}" class="header__logo">
                </a>
            </div>
            <div class="header__second">
                <nav class="navbar navbar-expand-xl navbar-dark header__menu ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href=""></a>
                        <button class="navbar-toggler menu__icon" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse menu__body" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto menu__list">
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="{% url 't_shirt' %}">футболки
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="menu__link" aria-current="page" href="{% url 'hoody' %}"> кофты
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="{% url 'other' %}"> комплекты
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="#"> прочее
                                    </a>
                                </li>
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <li class="nav-item ">
                                    <a class=" menu__link" aria-current="page" href="{% url 'admin' %}"> администрация
                                    </a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="{% url 'bag' %}"> корзина
                                    </a>
                                <li class="nav-item ">
                                    <a class=" menu__link " aria-current="page" href="">
                                        Личный кабинет
                                    </a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class=" menu__link" aria-current="page" href="{% url 'logout' %}"> выход
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item ">
                                    <a class=" menu__link " data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
                                        aria-current="page" href=""> вход/регистрация
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="Product">
            <div class="Product__title container">
                <h2 class="col-12 text-center">{{ product.name }}</h2>
            </div>
            <form method="POST" class="Product__body container">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-12 Product__image">
                        <img src="{{ product.image.url }}" class="img-fluid product-img" alt="">
                    </div>
                    <div class="col-lg-6 col-md-12 Product__text info">
                        <div class="info__price text-center">
                            <span>{{ product.price }}</span>
                        </div>
                        <div class="info__description">
                            {{ product.description }}
                        </div>
                        <div class="info__btn d-flex justify-content-center align-items-center">
                            <button type="button" class=""  data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><span >Добавить в корзину</span></button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body mx-auto">
                                <div class="modal__count ">
                                    <div class="modal__title1 text-center mb-5 product-title" id="exampleModalLabel">{{ product.name }}</div>
                                    {{ form.products}}
                                    {{ form.created_by}}
                                    <div class="modal__title ">Количество товара</div>
                                    {{ form.count }}
                                </div>
                                <div class="dropdown">
                                    {{ form.size }}
                                    
                                </div>
                            </div>
                            <div class="modal-footer mx-auto">
                                <button type="button" class="btn knop1" data-bs-dismiss="modal">Закрыть</button>
                                <button type='submit' data-cart type="button" class="btn knop2">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </section>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
            </script>
        <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
